.signup__main{
  padding-bottom: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup__container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.signup__card{
  background-color: #fff;
  padding: 3rem 3rem 0 3rem;
  margin: 2rem;
  border-radius: var(--corner-radius-outside-elements);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
  max-width: 30rem;
}