/* Styling for the container */
.login__main{
  padding-bottom: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}


/* Styling for the login box */
.login__card {
  background-color: #fff;
  padding: 3rem 3rem 0 3rem;
  margin: 2rem;
  border-radius: var(--corner-radius-outside-elements);
  box-shadow: var(--shadows-for-main-fields);
  text-align: center;
  width: 100%;
  max-width: 30rem;
}

/* Styling for the form inputs */
.login__input{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  text-align: left;
}

.input-login, .input-password{
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.input-login input, .input-password input{
  border: 0.06rem solid var(--border-color-buttons);
  background-color: var(--background-unactive-button-color);
  border-radius: var(--corner-radius-inside-elements);
  padding: 0.8rem;
}

.container__reset-password{
  border: 0.06rem solid var(--border-color-buttons);
  background-color: var(--background-unactive-button-color);
  border-radius: var(--corner-radius-inside-elements);
  display: flex;
  align-items: center;

}
.reset__password{
  font-weight: 300;
}

.login__button{
  color:var(--text-color-active-buttons);
  border-radius: var(--corner-radius-inside-elements);
  padding: 0.8rem;
  border: 0;
  background-color: var(--background-active-button-color)
}

.signup__text{
  margin: 1.5rem 0;
  color:var(--color-text-empty);
}
.signup__text a{
  color: var(--background-active-button-color);
}
.error{
  text-align: left;
}