
  
  .content {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #F7F7F7;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
 /* .header {
    background-color: #254222;
    padding: 20px;
    border-radius: 12px 12px 0 0;
    color: #F7F7F7;
  }
  
  .header h1 {
    margin-top: 0;
  }
   */
  .content {
    padding: 20px;
  }
  
  .section {
    margin-bottom: 20px;
  }
  
  .section h2 {
    margin-top: 0;
  }
  
  .food-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .food-item {
    background-color: var(--light-green);
    color: var(--white);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 6px;
    margin: 10px;
  }
  .food-item.allergens{
    background-color: var(--color-light-text);
  }
  
  .food-item:hover {
    background-color: #A59999;
  }
  
  .food-item.selected {
    background-color:  var(--dark-green);
  }
  .food-item.allergens.selected {
    background-color: red;
  }