.recipe-main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.recipe-creation__container {
  max-width: 70rem;
  text-align: center;
  margin: var(--spacing-md);
  padding: var(--spacing-md);
  background-color: var(--backgroud-container-color);
  border-radius: var(--corner-radius-outside-elements);
  box-shadow: var(--shadows-for-main-fields);
}

.recipe-creation__title {
  padding: var(--spacing-md) 0;
}

.recipe-creation__calories {
  padding: var(--spacing-xs) 0;
  border-top: var(--border-size) var(--border-color) solid;
  border-bottom: var(--border-size) var(--border-color) solid;
  font-weight: 600;
  font-size: 1.3rem;
  color:var(--calories-text-color);
}

.recipe-creation__sections {
  margin: var(--spacing-lg);
  display: grid;
  gap: var(--spacing-md);
}

.recipe-creation__section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.recipe-creation__section-title {
  margin-bottom: var(--spacing-md);
}

.recipe-creation__item-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--spacing-xs);
}

.recipe-creation__item {
  max-width: 5rem;
  padding: 0.8rem;
  min-width: 5rem;
  cursor: pointer;
  border: 0.06rem solid var(--border-color-buttons);
  border-radius: var(--corner-radius-inside-elements);
  transition: background-color 0.3s ease;
  color:var(--text-color-active-buttons);
}

.recipe-creation__liked-item{
  background-color: var(--background-wanted-itemd);
}
.recipe-creation__disliked-item{
  background-color: var(--background-unwanted-item);
}

.recipe-creation__section-calculate {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
}

.recipe-creation__input{
  padding: var(--spacing-sm);
  border-radius: var(--corner-radius-inside-elements);
  border: 0;
  box-shadow: var(--shadows-for-main-fields);
}

.recipe-creation__create-button {
  width: 100%;
  padding: 0.8rem;
  min-width: 5rem;
  cursor: pointer;
  background-color: var(--background-active-button-color);
  border: 0;
  transition: background-color 0.3s linear;
  color: var(--text-color-active-buttons);
  border-radius: var(--corner-radius-inside-elements);
}

@media screen and (min-width: 48rem) {
  .recipe-creation__item-list{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .recipe-creation__container{
    min-width: 40rem;
  }
}

@media screen and (min-width: 64rem) {
  .recipe-creation__sections{
    grid-auto-flow: column;
  }
  .recipe-creation__item-list{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}